<div class="sidebar">
  <div class="logo">
    <mat-icon>apartment</mat-icon>

    <h2>SocietyHub</h2>
  </div>

  <a routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>

    Dashboard
  </a>

  <a>
    <mat-icon>groups</mat-icon>

    Members
  </a>

  <a>
    <mat-icon>payments</mat-icon>

    Maintenance
  </a>

  <a>
    <mat-icon>report_problem</mat-icon>

    Complaints
  </a>

  <a>
    <mat-icon>campaign</mat-icon>

    Notices
  </a>

  <a>
    <mat-icon>bar_chart</mat-icon>

    Reports
  </a>

  <a>
    <mat-icon>settings</mat-icon>

    Settings
  </a>

  <a routerLink="/members" routerLinkActive="active">
    <mat-icon>groups</mat-icon>
    <span>Members</span>
  </a>

  <a>
    <mat-icon>logout</mat-icon>

    Logout
  </a>
</div>
