<mat-toolbar color="primary">

    <span class="title">

        Dashboard

    </span>

    <span class="spacer"></span>

    <button mat-icon-button>

        <mat-icon>notifications</mat-icon>

    </button>

    <button mat-button [matMenuTriggerFor]="menu">

        <mat-icon>account_circle</mat-icon>

        Admin

    </button>

    <mat-menu #menu="matMenu">

        <button mat-menu-item>

            <mat-icon>person</mat-icon>

            Profile

        </button>

        <button mat-menu-item>

            <mat-icon>lock</mat-icon>

            Change Password

        </button>

        <button mat-menu-item>

            <mat-icon>logout</mat-icon>

            Logout

        </button>

    </mat-menu>

</mat-toolbar>